<pre>{inspect @score}</pre>

<form>
  <textarea name="typing" autofocus phx-change="user_type" />

  <h3>Remaining</h3>
  <pre>{@remaining_code}</pre>
</form>

<div>
  <h3>Stopwatch</h3>
  <p>Time: {@elapsed_time.elapsed_time} seconds</p>
</div>
